cryptography >= 41.0.6 # Required by django https://github.com/ansible/aap-gateway/security/dependabot/9
Django>=4.2.26,<4.3.0 # https://github.com/ansible/aap-gateway/security/dependabot/28  pinned to use version productization has available already, CVE-2024-56374
djangorestframework
django-crum
django-dynamic-preferences
django-extensions
django-flags
grpcio
grpcio-tools
protobuf>=4.21
psycopg
pyjwt
requests
sqlparse>=0.5.2 # https://github.com/ansible/aap-gateway/security/dependabot/16
uwsgi
xds-protos>=1.58
PyYAML
# Not directly imported but pinned per dependabot alerts
urllib3>=1.26.19,<1.27
argon2-cffi
dynaconf>=3.2.10,<4.0.0
