ansible                 # Needed by the dev environment to run playbooks
black==25.1.0           # Linting tool, if changed update pyproject.toml as well
build
debugpy                 # Used for VSCode debugging
django-debug-toolbar
flake8==7.1.1           # Linting tool, if changed update pyproject.toml as well
Flake8-pyproject==1.2.3 # Linting tool, if changed update pyproject.toml as well
ipython                 # Used in shell_plus
isort==6.0.0            # Linting tool, if changed update pyproject.toml as well
remote-pdb              # The debugger setup with Python's breakpoint()
tox                     # Used for unit tests
tox-docker              # For running postgres during tests
colorama                # Allows addition of color to logs
logutils
psycopg[binary]
requests
openapi-spec-validator   # Used for OpenAPI schema validation in CI/CD
setuptools>=78.1.1      # Needed for the plumbing of the side cars, pinned for https://github.com/ansible/aap-gateway/security/dependabot/25
setuptools_scm          # Needed for proper version string on /api/gateway/v1/ping
docker                  # Needed for the plumbing of the side cars via Ansible
PyYAML                  # Collection tests
