# Additional libraries to install for testing purposes
fakeredis==2.24.1  # version 2.25.0 caused all tests to start failing due to missing parameters to the connection method
pytest
pytest-xdist
pytest-cov
pytest-django
pytest-subtests
colorama
logutils

# Linting tools
flake8==7.1.1
Flake8-pyproject==1.2.3
black==25.1.0
isort==6.0.0
