cryptography >= 46.0.7 # CVE-2026-39892
# NOTE: When updating Django version, also update requirements/constraints_django52.txt
Django>=5.2.8,<5.3 # Upgrade to Django 5.2 LTS - see AAP-55610 and CVE-2025-64459
djangorestframework
django-crum
django-dynamic-preferences
django-extensions>=4.0 # python 3.12 support added in version 4: https://github.com/django-extensions/django-extensions/releases/tag/4.0
django-flags
drf-spectacular==0.26.5  # Pinning this since later versions break ATF client generation
grpcio
grpcio-tools
protobuf>=5.29.5  # CVE-2025-4565
psycopg
pyjwt>=2.12.0
requests
sqlparse>=0.5.2 # https://github.com/ansible/aap-gateway/security/dependabot/16
uwsgi
xds-protos>=1.58
PyYAML
# Not directly imported but pinned per dependabot alerts
urllib3>=2.7.0   # CVE-2026-44431 / CVE-2026-44432
argon2-cffi
dynaconf>=3.2.10,<4.0.0
